extends layout 


block main-content 
    section.book 
        img(src='./images/books.avif' height='100%' width='100%').img
    a(href='/books')
        button.centered Books 
            span.hover-value At your Door Step


//- 
    images citation
    All photos from wikipedia